<mat-drawer-container class="" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <app-menu />
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" mat-button color="primary">
            <span class="app-title">Entregas a domicilio</span>
        </a>
    </div>
    <div class="main">
        <div class="body">
            <router-outlet />
        </div>
        <app-footer />
    </div>
</mat-drawer-container>